@import url("https://fonts.googleapis.com/css?family=Roboto");

.signup {
  background-color: #292a2d;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signuptotal {
  border-radius: 20px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  width: 95%;
  height: 90%;
}
.signupshadow {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(
    270deg,
    #171616 50%,
    rgba(23, 22, 22, 0.8) 54.45%,
    rgba(23, 22, 22, 0.7) 57.35%,
    rgba(96, 86, 86, 0) 98.9%
  );
}
.signupcontext {
  height: 100%;
  width: 50%;
}
.starttext {
  color: #ffffff;
  opacity: 0.5;
  font-size: 14px;
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
}
.signupcircle {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #0b8fbf;
  position: absolute;
  bottom: 9px;
  left: 358px;
}
.createtextcontainer {
  margin: 15px 0 5px 28px;
  display: flex;
  flex-direction: row;
  position: relative;
}
.createtext {
  margin: 0;
  color: #ffffff;
  font-size: 40px;
  font-family: "Roboto";
  font-weight: 800;
}
.alreadycontainer {
  margin: 0 0 0 30px;
  display: flex;
  flex-direction: row;
}
.already {
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  font-family: "Roboto";
  opacity: 0.5;
}
.alreadylogin {
  text-decoration: none;
  margin: 0;
  margin-left: 10px;
  color: #0b8fbf;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 600;
}
.flnames {
  display: flex;
  max-width: 90%;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0 10px 28px; /* important */
}
.fnamecontainer,
.lnamecontainer {
  padding: 10px 0 0 10px;
  width: 46%;
  height: 70px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.25);
  background-color: rgb(42, 42, 46);
  border-radius: 10px;
}
.bordercontainer {
  padding: 10px 0 0 10px;
  width: 46%;
  height: 70px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.25);
  background-color: rgb(42, 42, 46);
  border-radius: 10px;
  border: #de518e 1px solid;
}
.fnametext,
.lnametext,
.signupemailtext,
.signuppasstext,
.username-text {
  font-size: 15px;
  color: #ffffff7b;
  font-family: "Roboto";
  font-weight: 500;
  margin: 0;
}
.signupemailtext,
.signuppasstext,
.username-text {
  padding: 10px 0 0 10px;
}
.signupemailcontainer,
.signuppasscontainer {
  max-width: 90%;
  margin: 10px 0 10px 28px; /* important */
  height: 80px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.25);

  background-color: rgb(42, 42, 46);
  border-radius: 10px;
}
.username-container {
  max-width: 90%;
  margin: 10px 0 0px 28px; /* important */
  height: 80px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.25);
  background-color: rgb(42, 42, 46);
  border-radius: 10px;
}
.fname,
.lname {
  margin: 5px 0 0 0;
  height: 30px;
  width: 98%;
  border-radius: 10px;
  outline: none;
  background-color: rgb(42, 42, 46);
  font-size: 20px;
  border: none;
  color: #ffffff;
}
.signupemail,
.signuppass,
.username {
  margin: 5px 0 0 10px;
  height: 30px;
  width: 97%;
  border-radius: 10px;
  outline: none;
  background-color: rgb(42, 42, 46);
  font-size: 20px;
  border: none;
  color: #ffffff;
}
/* .fname:invalid,
.lname:invalid,
.signup-email:invalid,
.signup-pass:invalid {
  animation: shake 500ms;
}
@keyframes shake {
  25% {
    transform: translateX(3px);
    border: 2px rgb(204, 61, 61) solid;
  }
  50% {
    transform: translateX(-3px);
    border: 2px rgb(204, 61, 61) solid;
  }
  75% {
    transform: translateX(3px);
    border: 2px rgb(204, 61, 61) solid;
  }
} */
.line4text {
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto";
  margin: 0;
  color: #ffffff;
  opacity: 0.7;
}
.clickhere {
  font-size: 14px;
  font-weight: 800;
  font-family: "Roboto";
  margin: 0 0 0 5px;
  color: #0b8fbf;
  text-decoration: none;
}
.line4 {
  margin: 0 0 0 35px;
  display: flex;
  flex-direction: row;
}
.sexsubmitcontainer {
  width: 90%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 30px;
}
.sexcontainer {
  height: 70px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.25);
  background-color: rgb(42, 42, 46);
  border-radius: 10px;
  width: 46%;
  padding: 10px 0 0 10px;
}
.sextext {
  font-size: 15px;
  color: #ffffff7b;
  font-family: "Roboto";
  font-weight: 500;
  margin: 0 0 10px 0;
}
.sex {
  font-size: 15px;
  background-color: #292a2d;
  width: 80px;
  height: 25px;
  color: #0b8fbf;
  border-radius: 5px;
}
.btncontainer {
  width: 46%;
  height: 80px;
}
.signupbtn {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  font-family: "Roboto";
  color: #ffffff;
  font-size: 25px;
  margin: 0;
  background: #0b8fbf;
}
.signupbtn:hover {
  cursor: pointer;
  animation: fontsize 400ms forwards;
  font-size: 30px;
  opacity: 1.5;
}
@keyframes fontsize {
  0%{
    font-size: 25px;
  }
  25% {
    font-size: 27px;
  } 50% {
    font-size: 29px;
  }100% {
    font-size: 31px;
  }
}
