.total {
  overflow: hidden;
  width: 100%;
}
.seriesslider {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 20px;
  animation: slideshow 300s linear infinite;
}
@keyframes slideshow {
  0% {
    left: 0;
  }
  50% {
    left: -185%;
  }
  100% {
    left: -370%;
  }
}
