.total2 {
  overflow: hidden;
  width: 100%;
}
.seriesslider2 {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 10px;
  animation: slideshow 240s linear infinite;
}
@keyframes slideshow {
  0% {
    left: -370%;
  }
  50% {
    left: -185%;
  }
  100% {
    left: 0;
  }
}

