.allbody {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    margin-left: 11.7%;
    margin-right: 11.7%;
    justify-content: space-between;
}
.firstbody, .secondbody {
    width: 43%;
}