.allbody {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  margin-left: 11.7%;
  margin-right: 11.7%;
  justify-content: space-between;
}
.firstbody,
.secondbody {
  width: 43%;
}
.choose-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 70%;
  margin: 40px 0 20px 180px;
}
.top-container,
.now-container,
.up-container {
  display: flex;
  flex-direction: row;
  height: 40px;
  margin: 0 50px 0 0;
}
.top-container-low-opacity,
.now-container-low-opacity,
.up-container-low-opacity {
  opacity: 0.3;
  display: flex;
  flex-direction: row;
  height: 40px;
  margin: 0 50px 0 0;
}
.top-container:hover,
.now-container:hover,
.up-container:hover,
.top-container-low-opacity:hover,
.now-container-low-opacity:hover,
.up-container-low-opacity:hover {
  cursor: pointer;
}
.top {
  color: #ffffff;
  font-size: 30px;
  font-family: "Roboto";
  margin: auto 0;
  margin-left: 10px;
}
.line {
  margin: 0;
  background-color: #de518e;
  height: 100%;
  width: 5px;
}
.all-btns {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  button:hover {
    cursor: pointer;
    border: #de518e 2px solid;
  }
}
.selected {
  width: 35px;
  height: 35px;
  box-shadow: 30px 30px 40px rgba(0, 0, 0, 0.25);
  background-color: #de518e;
  color: #ffffff;
  border: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 2px;
  margin: 0 4px;
}
.not {
  width: 35px;
  height: 35px;
  box-shadow: 30px 30px 40px rgba(0, 0, 0, 0.25);
  background-color: #2b2d31;
  color: #ffffff;
  border: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 2px;
  margin: 0 4px;
}