.container {
  display: flex;
  flex-direction: row;
  width: calc(100% - 60px);
  position: absolute;
  height: 50px;
  left: 0;
  top: 0;
  background-color: #2b2d31;
  gap: 10px;
  border-radius: 0 0 10px 10px;
}
a {
  cursor: pointer;
  font-size: 30px;
  font-family: "Bebas Neue", sans-serif;
  margin: auto;
  text-decoration: none;
  color: #f0f0f0;
  font-weight: 300;
}
.saved:hover {
  @extend .saved;
  color: #0b8fbf;
  font-size: 32px;
  transition: font-size 0.2s ease;
}
.gotologin:hover,
.gotosignup:hover {
  @extend .saved;
  color: #de518e;
}
