@import url("https://fonts.googleapis.com/css?family=Roboto");

.line1-text
 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto";
  margin: 11px 0 0 10px;
  color: #ffffff;
  opacity: 0.5;
}
.line1-text-light {
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto";
  margin: 11px 0 0 10px;
  color: #ffffff;
  opacity: 0.9;
}
.line1,
.line2,
.line3 {
  display: flex;
  height: 40px;
  flex-direction: row;
}
.icon-done {
  margin: 15px 0 0 10px ;
}
.checkpass {
  position: absolute;
  left: 380px;
  top: 355px;
  background-color: #292a2d;
  width: 330px; 
  height: 130px; 
  -moz-border-radius: 20px; 
  -webkit-border-radius: 20px; 
  border-radius: 20px;
}
.checkpass::after {
  content:"";
  position: absolute;
  width: 0;
  height: 0;
  top: 40px;
  left: 355px;
  border-top: 15px solid transparent;
  border-left: 30px solid #292a2d;
  border-bottom: 15px solid transparent;
  margin: 10px 0 0 -25px;
}
