@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500&display=swap');

img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.onemoviecontainer {
  border-radius: 20px;
  height: 410px;
  margin-bottom: 30px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.25);
  background-color: #2b2d31;
  color: #ffffff;
}
.onemoviecontainer:hover {
  cursor: pointer;
}
.bodycontext {
  padding: 10px 0 0 10px;
  width: 100%;
  position: relative;

}
.bodyname {
  margin: 0 0 10px 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 25px;
  width: 100%;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 

}
.bodydate {
  margin: 0;
  font-weight: 300;
  font-family: 'Roboto Slab', serif;
}
.bodyimdbcontainer {
  width: 160px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 20px;
}
.popularitycontainer {
  flex-direction: row;
  display: flex;
  position: absolute;
  left: 10px;
  font-family: 'Roboto Slab', serif;
  bottom: 10px;
  height: 40px;
}
.popularity,
.popularitytext {
  margin: auto 5px auto 0;
}
.containercontainer {
  width: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0.01) 0%,
    rgba(0, 0, 0, 0.3) 10%,
    rgba(0, 0, 0, 0.5) 20%,
    rgba(0, 0, 0, 0.7) 40%,
    rgba(0, 0, 0, 1) 70%
  );
  height: 120px;
  bottom: 0px;
  position: absolute;
  animation-name: hover;
  animation-duration: 0.3s;
}
@keyframes hover {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star {
  margin: auto 5px;
}
.bodyimdbtext {
  margin: auto 0;
}
.bodyimdb {
  margin: auto 5px;
}
.genrecontainer {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  width: 700px;
}
.seeMoreLink {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A9619A;
  font-family: 'Roboto Slab', serif;
  border-radius: 10px;
  border: #A9619A 2px solid;
  position: absolute;
  right: 20px;
}
.customLink {
  text-decoration: none;
  color: #ffffff;
}
.genre {
  padding: 5px;
  margin: 0;
  margin-right: 10px;
  font-family: 'Roboto Slab', serif;
  border-radius: 10px;
  border: #ffffff 2px solid;
}
.genre:nth-child(1):hover {
  background-color: #de518e;
}
.genre:nth-child(2):hover {
  background-color: #A9619A;
}
.genre:nth-child(3):hover {
  background-color: #7570A7;
}
.genre:nth-child(4):hover {
  background-color: #4080B3;
}
.genre:nth-child(5):hover {
  background-color: #0b8fbf;
}
.imgcontainer {
  width: 100%;
  position: relative;
}
