@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Archivo";
}
.navbaritems {
  display: flex;
  flex-direction: row;
}
.lightnavbar {
  display: flex;
  flex-direction: column;
  animation: backgroundLightOpacity 200ms forwards;
  height: 90px;
  border-radius: 0 0 5px 5px;
  z-index: 10;
  width: 100%;
  position: fixed;
}
@keyframes backgroundLightOpacity {
  0% {
    background-color: #323437;
  }
  50% {
    background-color: #32343788;
  }
  100% {
    background: rgba(255, 122, 89, 0);
  }
}
.darknavbar {
  display: flex;
  flex-direction: column;
  height: 90px;
  animation: backgroundOpacity 600ms forwards;
  border-radius: 0 0 5px 5px;
  position: fixed;
  z-index: 10;
  width: 100%;
}
@keyframes backgroundOpacity {
  0% {
    background-color: #3234372e;
  }
  50% {
    background-color: #32343788;
  }
  100% {
    background-color: #323437;
  }
}
.logocontainer {
  max-height: 90px;
  width: 200px;
  padding: 15px 0 0 15px;
}
.logo {
  margin: 0;
  font-family: "Roboto";
  max-height: 50px;
  font-weight: 500;
  font-size: 50px;
  letter-spacing: -5px;
  line-height: 48px;
  background: linear-gradient(270deg, #0b8fbf 6.75%, #de518e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.othercontainer {
  height: 80px;
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 40px;
}
.saved,
.gotologin,
.gotosignup {
  text-decoration: none;
  font-family: "Expletus Sans";
  margin: auto;
  max-height: 80px;
  font-size: 25px;
  font-weight: 500;
  line-height: 33px;
  margin-right: 30px;
  color: #ffffff;
}
.checkcontainer {
  background-color: #f0f0f0;
  display: flex;
  justify-content: end;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  margin: auto;
}
input[type="checkbox"]:hover {
  cursor: pointer;
}
input[type="checkbox"] {
  visibility: hidden;
  display: none;
}
.check {
  position: relative;
  top: 2.5px;
  right: 2.5px;
  width: 25px;
  height: 25px;
  background-color: rgba(41, 42, 45, 94);
  border-radius: 25px;
}
.scrollindicatorcontainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
}
.darkscroll {
  background: linear-gradient(270deg, #0b8fbf 6.75%, #de518e 100%);
  width: 100%;
  height: 100%;
}
.search-container {
  width: 160px;
  height: 40px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.477);
  background-color: #2b2d31;
  margin-top: auto;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  input {
    border-radius: 30px;
    width: 110px;
    height: 32px;
    margin: auto 0;
    background-color: #2b2d31;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 3px 10px 3px 5px;
    font-size: 20px;
    font-family: "Archivo";
    font-weight: 590;
  }
}
.search {
  margin: 5px 0 0 5px;
}
.search-container-long {
  width: 350px;
  height: 40px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.477);
  background-color: #2b2d31;
  margin-top: auto;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  transition: width 2s, transform 2s;
  input {
    border-radius: 30px;
    transition: width 2s, transform 2s;
    width: 300px;
    height: 32px;
    margin: auto 0;
    background-color: #2b2d31;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 3px 10px 3px 5px;
    font-size: 20px;
    font-family: "Archivo";
    font-weight: 590;
  }
}
