.logo {
  margin: 0;
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 50px;
  font-weight: 900;
  background: linear-gradient(270deg, #0b8fbf 0%, #de518e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  // font-family: "Concert One", sans-serif;
  // font-family: "Pacifico", cursive;
  // font-family: "Silkscreen", sans-serif;
  // font-family: "Gloria Hallelujah", cursive;
}
