@import url("https://fonts.googleapis.com/css?family=Roboto");

.login {
  background-color: #292a2d;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginshadow {
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    #171616 50%,
    rgba(23, 22, 22, 0.8) 54.45%,
    rgba(23, 22, 22, 0.7) 57.35%,
    rgba(96, 86, 86, 0) 98.9%
  );
}
.loginlogocontainer {
  height: 90px;
  padding: 15px 0 0 15px;
}
.loginlogo {
  margin: 0;
  font-family: "Roboto";
  max-height: 50px;
  width: 20px;
  font-size: 50px;
  letter-spacing: -2px;
  line-height: 48px;
  background: linear-gradient(270deg, #0b8fbf 6.75%, #de518e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.logincontext {
  /* border: 2px solid aqua; */
  width: 50%;
  height: 100vh;
}
.textcontainer {
  margin: 20px 0 0 50px;
  display: flex;
  flex-direction: row;
  position: relative;
}
.textcontainer p {
  margin: 0;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 40px;
}
.logintotal {
  border-radius: 20px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  width: 95%;
  height: 90%;
}
.logincircle {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #de518e;
  position: absolute;
  bottom: 10px;
  left: 115px;
}
.inputemail,
.inputpass {
  margin: 5px 0 0 0;
  height: 30px;
  width: 98%;
  border-radius: 10px;
  outline: none;
  background-color: rgb(42, 42, 46);
  font-size: 20px;
  border: none;
  color: #ffffff;
}
/* .input-email:invalid {
  animation: shake 700ms;
}
.input-pass:invalid {
  animation: shake 700ms;
}
@keyframes shake {
  25% {
    transform: translateX(15px);
    border: 2px rgb(204, 61, 61) solid;
  }
  50% {
    transform: translateX(-15px);
    border: 2px rgb(204, 61, 61) solid;
  }
  75% {
    transform: translateX(14px);
    border: 2px rgb(204, 61, 61) solid;
  }
} */
.emailcontainer {
  padding: 10px 0 0 10px;
  width: 98%;
  height: 70px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.25);
  background-color: rgb(42, 42, 46);
  border-radius: 10px;
}
.emailcontainerborder {
  padding: 10px 0 0 10px;
  width: 98%;
  height: 70px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.25);
  background-color: rgb(42, 42, 46);
  border-radius: 10px;
  border: #de518e 1px solid;
}
.inputs {
  width: 620px;
  height: 400px;
  margin-left: 50px;
}
.email,
.pass {
  font-size: 15px;
  color: #ffffff7b;
  font-family: "Roboto";
  font-weight: 500;
  margin: 0;
}
.emailcolored {
  font-size: 15px;
  color: #de518e;
  font-family: "Roboto";
  font-weight: 500;
  margin: 0;
}
.passcolored {
  font-size: 15px;
  color: #de518e;
  font-family: "Roboto";
  font-weight: 500;
  margin: 0;
}
.passcontainer {
  padding: 10px 0 0 10px;
  width: 98%;
  height: 70px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.25);
  background-color: rgb(42, 42, 46);
  border-radius: 10px;
  margin-top: 20px;
}
.passcontainerborder {
  padding: 10px 0 0 10px;
  width: 98%;
  height: 70px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.25);
  background-color: rgb(42, 42, 46);
  border-radius: 10px;
  margin-top: 20px;
  border: #de518e 1px solid;
}
.loginbtncontainer {
  width: 100%;
  height: 50px;
  margin: 0;
}
.loginbtn {
  border-radius: 10px;
  color: #ffffff;
  font-size: 25px;
  margin: 0;
  width: 100%;
  height: 80px;
  background: #de518e;
}
@keyframes fontsize {
  0% {
    font-size: 26px;
  }
  25% {
    font-size: 28px;
  }
  50% {
    font-size: 30px;
  }
  75% {
    font-size: 32px;
  }
  100% {
    font-size: 32px;
  }
}
.loginbtn:hover {
  animation: fontsize 300ms forwards;
  cursor: pointer;
}
.loginerror {
  font-size: 18px;
  color: crimson;
  margin: 0;
}
.rememembermecontainer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 35px;
  margin-left: 5px;
}
.rememembermecontainer input {
  width: 17px;
  height: 17px;
  border: 50%;
  margin: 0;
  margin-top: 1px;
  background-color: #000000;
}
.rememberme-text {
  color: #ffffff;
  margin: 0;
  margin-left: 5px;
  height: 20px;
  font-size: 17px;
  font-family: "Roboto";
}
.newusercontainer {
  margin: 0 0 10px 50px;
  display: flex;
  flex-direction: row;
}
.newusertext {
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  font-family: "Roboto";
  opacity: 0.5;
}
.newuser {
  text-decoration: none;
  margin: 0;
  margin-left: 10px;
  color: #de518e;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
}
