@import url("https://fonts.googleapis.com/css?family=Roboto");

.login {
  background-color: #292a2d;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-shadow {
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    #171616 50%,
    rgba(23, 22, 22, 0.8) 54.45%,
    rgba(23, 22, 22, 0.7) 57.35%,
    rgba(96, 86, 86, 0) 98.9%
  );
}
.login-logo-container {
  height: 90px;
  padding: 15px 0 0 15px;
}
.login-logo {
  margin: 0;
  font-family: "Roboto";
  max-height: 50px;
  width: 200px;
  font-size: 50px;
  letter-spacing: -5px;
  line-height: 48px;
  background: linear-gradient(270deg, #0b8fbf 6.75%, #de518e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.login-context {
  /* border: 2px solid aqua; */
  width: 50%;
  height: 100vh;
}
.text-container {
  margin: 20px 0 0 50px;
  display: flex;
  flex-direction: row;
  position: relative;
}
.text-container p {
  margin: 0;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 40px;
}
.login-total {
  border-radius: 20px;
  box-shadow: 20px 20px 40px rgb(0 0 0 / 25%);
  background-repeat: no-repeat;
  width: 95%;
  height: 90%;
}
.login-circle {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #de518e;
  position: absolute;
  bottom: 10px;
  left: 115px;
}
.input-email,
.input-pass {
  margin: 5px 0 0 0;
  height: 30px;
  width: 98%;
  border-radius: 10px;
  outline: none;
  background-color: rgb(42, 42, 46);
  font-size: 20px;
  border: none;
  color: #ffffff;
}
/* .input-email:invalid {
  animation: shake 700ms;
}
.input-pass:invalid {
  animation: shake 700ms;
}
@keyframes shake {
  25% {
    transform: translateX(15px);
    border: 2px rgb(204, 61, 61) solid;
  }
  50% {
    transform: translateX(-15px);
    border: 2px rgb(204, 61, 61) solid;
  }
  75% {
    transform: translateX(14px);
    border: 2px rgb(204, 61, 61) solid;
  }
} */
.email-container {
  padding: 10px 0 0 10px;
  width: 98%;
  height: 70px;
  box-shadow: 20px 20px 40px rgb(0 0 0 / 25%);
  background-color: rgb(42, 42, 46);
  border-radius: 10px;
}
.email-container-border {
  padding: 10px 0 0 10px;
  width: 98%;
  height: 70px;
  box-shadow: 20px 20px 40px rgb(0 0 0 / 25%);
  background-color: rgb(42, 42, 46);
  border-radius: 10px;
  border: #de518e 2px solid;
}
.inputs {
  width: 620px;
  height: 400px;
  margin-left: 50px;
}
.email,
.pass {
  font-size: 15px;
  color: #ffffff7b;
  font-family: "Roboto";
  font-weight: 500;
  margin: 0;
}
.email-colored {
  font-size: 15px;
  color: #de518e;
  font-family: "Roboto";
  font-weight: 500;
  margin: 0;
}
.pass-colored {
  font-size: 15px;
  color: #de518e;
  font-family: "Roboto";
  font-weight: 500;
  margin: 0;
}
.pass-container {
  padding: 10px 0 0 10px;
  width: 98%;
  height: 70px;
  box-shadow: 20px 20px 40px rgb(0 0 0 / 25%);
  background-color: rgb(42, 42, 46);
  border-radius: 10px;
  margin-top: 20px;
}
.pass-container-border {
  padding: 10px 0 0 10px;
  width: 98%;
  height: 70px;
  box-shadow: 20px 20px 40px rgb(0 0 0 / 25%);
  background-color: rgb(42, 42, 46);
  border-radius: 10px;
  margin-top: 20px;
  border: #de518e 2px solid;
}
.login-btn-container {
  width: 100%;
  height: 50px;
  margin: 0;
}
.login-btn {
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  margin: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(270deg, #0b8fbfd9 5%, #de518edb 100%);
}
.login-btn:hover {
  cursor: pointer;
}
.login-error {
  font-size: 18px;
  color: crimson;
  margin: 0;
}
.remememberme-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 35px;
  margin-left: 5px;
}
.rememberme {
  width: 17px;
  height: 17px;
  border: 50%;
  margin: 0;
  margin-top: 1px;
  background-color: #171616;
}
.rememberme-text {
  color: #ffffff;
  margin: 0;
  margin-left: 5px;
  height: 20px;
  font-size: 17px;
  font-family: "Roboto";
}
.new-user-container {
  margin: 0 0 10px 50px;
  display: flex;
  flex-direction: row;
}
.new-user-text {
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  font-family: "Roboto";
  opacity: 0.5;
}
.new-user {
  text-decoration: none;
  margin: 0;
  margin-left: 10px;
  color: #de518e;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
}