@import url("https://fonts.googleapis.com/css?family=Roboto");

.loginlogo {
  margin: 0;
  max-height: 50px;
  width: 20px;
  font-size: 50px;
  letter-spacing: 2px;
  font-family: "Margarine", sans-serif;
  line-height: 48px;
  background: linear-gradient(270deg, #0b8fbf 0%, #de518e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/* .input-email:invalid {
  animation: shake 700ms;
}
.input-pass:invalid {
  animation: shake 700ms;
}
@keyframes shake {
  25% {
    transform: translateX(15px);
    border: 2px rgb(204, 61, 61) solid;
  }
  50% {
    transform: translateX(-15px);
    border: 2px rgb(204, 61, 61) solid;
  }
  75% {
    transform: translateX(14px);
    border: 2px rgb(204, 61, 61) solid;
  }
} */
