body {
  overflow-x: hidden;
  margin: 0;
  background-color: #292a2d;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(#0b8fbf 6.75%, #de518e 100%);
  margin: 0 10px;
  border: 1px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#de518e 100%, #0b8fbf 100%);
  border-radius: 10px;
  margin: 0 10px;
  border: 1px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-button:single-button:vertical:decrement, ::-webkit-scrollbar-button:single-button:vertical:increment {
  display: none;
}
