.card {
    min-width: 26%;
    margin-left: 5.5%;
    margin-top: 5px;
    position: relative;
}
/* .card:first-child {
    margin-left: 5.5%;
} */
.pic {
    width: 100%;
    margin: 0;
    border-radius: 10px;
} 
.name, .imdb-rating {
    font-family: "Epilogue";
    color: azure;
    font-weight: 10;
    font-size: 15px;
    margin: 0;
    margin-top: 10px;
}
.context {
    position: absolute;
    z-index: 1;
    width: 322.8px;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.525) 23.96%, rgba(0, 0, 0, 0.75) 30.67%);
    border-radius: 0px 0px 10px 10px;
    color: #FFFFFF;
    padding: 0 0 10px 10px;
    animation-name: hover;
    animation-duration: 0.7s;
}
.pic-context {
    display: flex;
}
@keyframes hover {
    0% { opacity: 0; }
    100%{ opacity: 1; }
}