.container-slider {
    width: 100%;
    overflow: hidden;    
    border-radius: 20px;
}
.slider {
    /* left :-94.5%; */
    display: flex;
    position: relative;
}
.all-container {
    display: flex;
    justify-content: center;
}
.perv, .next {
    margin: auto;
    width: 10%;
    padding: auto;
    display: flex;
    justify-content: center;
    
}