@import url("https://fonts.googleapis.com/css?family=Roboto");

.notfoundtotal {
  width: 100%;
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.notfoundcontext {
  width: 420px;
  height: 400px;
  position: absolute;
  right: 200px;
  top: 200px;
  font-family: "Roboto";
}
.notfoundline {
  width: 405px;
  height: 5px;
  background-color: #510000;
  margin-bottom: 10px;
}
.pagenotfoundcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 420px;
}
.text404 {
  color: #510000;
  font-size: 80px;
  height: 90px;
  font-family: "Roboto";
  margin: 0 0 10px 0;
  font-weight: 900;
}
.pagenotfound {
  font-size: 30px;
  margin: 0;
  color: #ffffff;
  font-weight: 1000;
}
.getoutbtnlink {
  margin-top: 10px;
  background-color: #510000;
  border: 2px solid #ffffff;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
  outline: none;
  width: 180px;
  height: 60px;
  display: flex;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}